<div class="container">
  <mat-form-field>
    <input matInput placeholder="Nombres">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Apellidos">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Fecha de Nacimiento">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Numero de Hijos">
      <mat-option *ngFor="let hijo of hijos" [value]="hijo.value">
        {{ hijo.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Seguro">
      <mat-option *ngFor="let seguro of seguros" [value]="seguro.value">
        {{ seguro.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button>Limpiar</button>
  <button mat-button>Crear</button>
</div>
