<div class="container">
  <mat-form-field>
    <input matInput #nombre placeholder="Nombres">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input #apellidos matInput placeholder="Apellidos">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input #fechaNacimiento matInput placeholder="Fecha de Nacimiento">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select #hijo placeholder="Numero de Hijos">
      <mat-option *ngFor="let hijo of hijos" [value]="hijo.value">
        {{ hijo.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select #seguro placeholder="Seguro">
      <mat-option *ngFor="let seguro of seguros" [value]="seguro.value">
        {{ seguro.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)="clickLimpiar(nombre.value = '', apellidos.value = '', fechaNacimiento.value = '', hijo.value = '', seguro.value = '')">Limpiar</button>
  <button mat-button (click)="clickCrear(nombre.value, apellidos.value, fechaNacimiento.value, hijo.value, seguro.value)">Crear</button>
  <br>
  <ul><li *ngFor="let paciente of arregloPacientes">{{paciente.id}}  {{paciente.hijos}} {{paciente.seguro}}</li></ul>
</div>
