<!--The content below is only a placeholder and can be replaced.-->
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <h1>
      EXAMEN 1er BIMESTRE
    </h1>
  </div>
  <div class="row">
    <h2>
      Borja Jaramillo Jorge Iván
    </h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h1>Pacientes</h1>
      <app-carrusel></app-carrusel>
    </div>
    <div class="col-6">
      <h1>Ingreso de pacientes</h1>
      <app-form-ingreso></app-form-ingreso>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>Lista de pacientes</h1>
      <app-card-paciente></app-card-paciente>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h1>Ingreso de medicamentos</h1>
      <app-form-medicamento></app-form-medicamento>
    </div>
  </div>
</div>
